*{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
	color:#000;
	font-size:18px;
	font-weight:bold;
}

#container{
	perspective:800px;
	-webkit-perspective:800px;
	overflow:hidden;
	perspective-origin:50% 50%;
	-webkit-perspective-origin:50% 50%;

	
	

}

#box{
	
	width:400px;
	height:400px;
	margin:20px auto 0;
	position:relative;
	
	transform-style:preserve-3d;
	-webkit-transform-style:preserve-3d;



}

.page{
	width:360px;
	height:360px;
	font-size:360px;
	font-weight:bold;

	line-height:360px;
	text-align:center;
	background-color:black;
	color:white;
	padding:20px;
	position:absolute;
	

	transform-origin:bottom;
	-webkit-transform-origin:bottom;


	transition:all linear 1s;
	-webkit-transition:all linear 0.5s;
}
#page1{
	
	transform-origin:bottom;
	-webkit-transform-origin:bottom;

	transition:-webkit-transform 1s linear;
	-webkit-transition:-webkit-transform 1s linear;
}
#page2,#page3,#page4,#page5,#page6{
	transform-origin:bottom;
	-webkit-transform-origin:bottom;

	transition:-webkit-transform 1s linear;
	-webkit-transition:-webkit-transform 1s linear;

	transform:rotateX(90deg);
	-webkit-transform:rotateX(90deg);

}

#button{
	margin:10px 0;
	text-align:center;
}
